cvn/mappings/cvn/1.4.2_sp1/XSD/CVN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cv.normalizado.org/cvn" targetNamespace="http://cv.normalizado.org/cvn">
	<include schemaLocation="Common.xsd"/>
	<include schemaLocation="AuxTable.xsd"/>
	<annotation>
		<documentation>
			Version: 1.4.1
		</documentation>
	</annotation>
	<annotation>
		<documentation>
				Author:FECYT 
				http://www.fecyt.es
				http://cvn.fecyt.es
		</documentation>
	</annotation>
	<!-- 
	***************************************
		General struct
	***************************************
	 -->
	<element name="CVN">
		<complexType>
			<sequence>
				<element name="Version" type="tns:VersionType"/>
				<element name="Agent" type="tns:AgentType"/>
				<element name="CvnItem" type="tns:CvnItemType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- 
	***************************************
		Properties
	***************************************
	 -->
	<complexType name="CvnItemType">
		<sequence>
			<element name="CvnItemID" type="tns:IDType"/>
			<element name="Subtype" type="tns:SubtypeType" minOccurs="0"/>
			<element name="Title" type="tns:TitleType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Description" type="tns:CVN_string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Subject" type="tns:SubjectType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Filter" type="tns:FilterType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Edition" type="tns:EditionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Link" type="tns:CvnItemType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Entity" type="tns:EntityType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Date" type="tns:DateType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Author" type="tns:Author" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Dedication" type="tns:DedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Roll" type="tns:RollType" minOccurs="0"/>
			<element name="Collaborator" type="tns:CollaboratorType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Place" type="tns:PlaceType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EconomicDimension" type="tns:EconomicDimensionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PhysicalDimension" type="tns:PhysicalDimensionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Location" type="tns:LocationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ExternalPK" type="tns:ExternalPKType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LocalPK" type="tns:LocalPKType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Scope" type="tns:ScopeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Diffusion" type="tns:DiffusionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Quality" type="tns:QualityType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Url" type="tns:UrlType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Language" type="tns:LanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Validation" type="tns:ValidationType" minOccurs="0"/>
			<element name="Contact" type="tns:ContactType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Collection" type="tns:CVN_string" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!--
	***************************************
		Tipo Version
	***************************************
	 -->
	<complexType name="VersionType">
		<sequence>
			<element name="VersionID" type="tns:VersionIDType"/>
		</sequence>
	</complexType>
	<complexType name="VersionIDType">
		<sequence>
			<element name="CVN_Identification" type="tns:CVN_string" minOccurs="0"/>
			<element name="PersonalIdentification" type="tns:PersonalIdentificationType" minOccurs="0"/>
			<element name="Authorization" type="tns:AuthorizationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Surrender" type="tns:AuthorizationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Date" type="tns:CVN_date"/>
			<element name="CVLanguage" type="tns:LanguageType" minOccurs="0"/>
			<element name="DigitalSignature" type="tns:DigitalSignatureType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CodificationVersion" type="tns:CVN_string" minOccurs="0"/>
			<element name="CVUser" type="tns:CVUserType" minOccurs="0"/>
			<element name="ExtensionField" type="tns:ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="DigitalSignatureType">
		<sequence>
			<element name="CVNItemID" type="tns:CVN_string" minOccurs="0"/>
			<element name="Signature" type="tns:CVN_string" minOccurs="0"/>
			<element name="Agency" type="tns:CVN_string" minOccurs="0"/>
			<element name="Type" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="CVUserType">
		<sequence>
			<element name="User" type="tns:CVN_string"/>
			<element name="Password" type="tns:CVN_string"/>
			<element name="UpdateDate" type="tns:FlexibleDatesType"/>
		</sequence>
	</complexType>
	<!--
	***************************************
		Agent 
	***************************************
	 -->
	<complexType name="AgentType">
		<sequence>
			<element name="Identification" type="tns:IdentificationType"/>
			<element name="Address" type="tns:AddressType" minOccurs="0"/>
			<element name="Contact" type="tns:ContactType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="IdentificationType">
		<sequence>
			<element name="PersonalIdentification" type="tns:PersonalIdentificationType" minOccurs="0"/>
			<element name="EntityIdentification" type="tns:EntityType" minOccurs="0"/>
			<element name="ExternalPK" type="tns:ExternalPKType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="PersonalIdentificationType">
		<sequence>
			<element name="Photo" type="tns:PhotoType" minOccurs="0"/>
			<element name="GivenName" type="tns:CVN_string" minOccurs="0"/>
			<element name="FirstFamilyName" type="tns:CVN_string" minOccurs="0"/>
			<element name="SecondFamilyName" type="tns:CVN_string" minOccurs="0"/>
			<element name="Signature" type="tns:CVN_string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OfficialId" type="tns:OfficialIdType" minOccurs="0"/>
			<element name="NormalizedIdentification" type="tns:CVN_string" minOccurs="0"/>
			<element name="LocalPK" type="tns:LocalPKType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Nacionality" type="tns:CVN_ISO_3166" minOccurs="0" maxOccurs="unbounded"/>
			<element name="BirthDate" type="tns:CVN_date" minOccurs="0"/>
			<element name="BirthCountry" type="tns:CVN_ISO_3166" minOccurs="0"/>
			<element name="BirthRegion" type="tns:RegionType" minOccurs="0"/>
			<element name="BirthCity" type="tns:CVN_string" minOccurs="0"/>
			<element name="Gender" type="tns:GenderType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="PhotoType">
		<sequence>
			<element name="Bitmap" type="tns:CVN_string" minOccurs="0"/>
			<element name="Format" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="RegionType">
		<sequence>
			<element name="Code" type="tns:CodeRegionType" minOccurs="0"/>
			<element name="Name" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="CodeRegionType">
		<sequence>
			<element name="Item" type="tns:CVN_Region"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="GenderType">
		<sequence>
			<element name="Item" type="tns:CVN_GenderType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="OfficialIdType">
		<choice>
			<element name="DNI" type="tns:CVN_string" minOccurs="0"/>
			<element name="Passport" type="tns:CVN_string" minOccurs="0"/>
			<element name="NIE" type="tns:CVN_string" minOccurs="0"/>
			<element name="Others" type="string" minOccurs="0"/>
		</choice>
	</complexType>
	<complexType name="AddressType">
		<sequence>
			<element name="City" type="tns:CVN_string" minOccurs="0"/>
			<element name="Streets" type="tns:CVN_string" minOccurs="0"/>
			<element name="OtherInformation" type="tns:CVN_string" minOccurs="0"/>
			<element name="PostalCode" type="tns:CVN_string" minOccurs="0"/>
			<element name="Region" type="tns:RegionType" minOccurs="0"/>
			<element name="CountryCode" type="tns:CVN_ISO_3166" minOccurs="0"/>
			<element name="Province" minOccurs="0">
				<complexType>
					<sequence>
						<element name="Code" type="tns:CVN_string" minOccurs="0"/>
						<element name="Name" type="tns:CVN_string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ContactType">
		<sequence>
			<element name="Telephone" type="tns:TelcomNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Fax" type="tns:TelcomNumberType" minOccurs="0"/>
			<element name="InternetEmailAddress" type="tns:CVN_InternetEmailAddressType" minOccurs="0"/>
			<element name="PersonalWeb" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="TelcomNumberType">
		<sequence>
			<element name="InternationalCode" type="tns:CVN_string" minOccurs="0"/>
			<element name="Number" type="tns:CVN_string"/>
			<element name="Extension" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
		<attribute name="Type" type="tns:CVN_TelcomTypeType"/>
	</complexType>
	<!-- 
	***************************************
		CvnItemID Struct
	***************************************
    -->
	<complexType name="IDType">
		<sequence>
			<element name="CVNPK" type="tns:CVN_string" minOccurs="0"/>
			<element name="CodeCVNItem" type="tns:CodeCVNItemType"/>
			<element name="ExperienceType" type="tns:ExperienceTypeType" minOccurs="0"/>
			<element name="ResultType" type="tns:ResultTypeType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="CodeCVNItemType">
		<sequence>
			<element name="Item" type="tns:CVN_CodeCVNItemIDType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="ExperienceTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_ExperienceTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="ResultTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_ResultTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Subtype Struct
	***************************************
    -->
	<complexType name="SubtypeType">
		<sequence>
			<element name="SubType1" type="tns:SubType1Type"/>
			<element name="SubType2" type="tns:SubType2Type" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="SubType1Type">
		<sequence>
			<element name="Item" type="tns:CVN_Value_SubType1"/>
			<element name="Others" type="string" minOccurs="0"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="SubType2Type">
		<sequence>
			<element name="Item" type="tns:CVN_Value_SubType2"/>
			<element name="Others" type="string" minOccurs="0"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Title Struct
	***************************************
    -->
	<complexType name="TitleType">
		<sequence>
			<element name="Name" type="tns:CVN_string"/>
			<element name="Identification" type="tns:CVN_string" minOccurs="0"/>
			<element name="Type" type="tns:CVN_FreeNormTypeType" minOccurs="0"/>
			<element name="Category" type="tns:CVN_TitleCategory" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- 
	***************************************
		Description Struct
	***************************************
    -->
	<!-- 
	***************************************
		Subject Struct
	***************************************
    -->
	<complexType name="SubjectType">
		<sequence>
			<element name="Type" type="tns:SubjectTypeType"/>
			<element name="SubjectList" type="tns:CVN_string" minOccurs="0"/>
			<element name="SubjectAgency" type="tns:CVN_string" minOccurs="0"/>
			<element name="Description" minOccurs="0">
				<complexType>
					<sequence>
						<element name="Primary" type="tns:CVN_string" minOccurs="0" maxOccurs="unbounded"/>
						<element name="Secondary" type="tns:CVN_string" minOccurs="0" maxOccurs="unbounded"/>
						<element name="Tertiary" type="tns:CVN_string" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SubjectTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_FreeNormTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Filter Struct
	***************************************
    -->
	<complexType name="FilterType">
		<sequence>
			<element name="Type" type="tns:FilterTypeType"/>
			<element name="Value" type="tns:FilterValueType" minOccurs="0"/>
			<element name="Others" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="FilterTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_FilterTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="FilterValueType">
		<sequence>
			<element name="Item" type="tns:CVN_Value_Filter"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Edition Struct
	***************************************
    -->
	<complexType name="EditionType">
		<sequence>
			<element name="Text" type="tns:CVN_string" minOccurs="0"/>
			<element name="Type" type="tns:EditionTypeType"/>
		</sequence>
	</complexType>
	<complexType name="EditionTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_EditionTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Link Struct
	***************************************
    -->
	<!-- 
	***************************************
		Entity Struct
	***************************************
    -->
	<complexType name="EntityType">
		<sequence>
			<element name="EntityScope" type="tns:EntityScopeType" minOccurs="0"/>
			<element name="JuridicalScope" type="tns:JuridicalScopeType" minOccurs="0"/>
			<element name="Type" type="tns:EntityTypeType" minOccurs="0"/>
			<element name="EntityName" type="tns:EntityNameType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EntityID" type="tns:EntityIDType" minOccurs="0"/>
			<element name="AncestorEntity" type="tns:AncestorEntityType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Roll" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="AncestorEntityType">
		<sequence>
			<element name="EntityName" type="tns:CVN_string"/>
			<element name="EntityID" type="tns:EntityIDType" minOccurs="0"/>
			<element name="Level" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="EntityIDType">
		<sequence>
			<element name="LocalPK" type="tns:LocalPKType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CVNPK" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="EntityScopeType">
		<sequence>
			<element name="Item" type="tns:CVN_EntityScopeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="JuridicalScopeType">
		<sequence>
			<element name="Item" type="tns:CVN_JuridicalScopeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="EntityTypeType">
		<choice>
			<element name="Item" type="tns:CVN_EntityTypeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Others" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</choice>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="EntityNameType">
		<choice>
			<element name="Item" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Others" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</choice>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Date Struct
	***************************************
    -->
	<complexType name="DateType">
		<sequence>
			<element name="Moment" type="tns:MomentDateType"/>
			<element name="OnlyDate" type="tns:FlexibleDatesType" minOccurs="0"/>
			<element name="StartDate" type="tns:FlexibleDatesType" minOccurs="0"/>
			<element name="EndDate" type="tns:FlexibleDatesType" minOccurs="0"/>
			<element name="Duration" type="tns:CVN_duration" minOccurs="0"/>
			<element name="DurationType" type="tns:CVN_DurationTypeType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="MomentDateType">
		<sequence>
			<element name="Item" type="tns:CVN_MomentDateType"/>
			<element name="Others" type="string" minOccurs="0"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Author Struct
	***************************************
    -->
	<complexType name="Author">
		<sequence>
			<element name="GivenName" type="tns:CVN_string" minOccurs="0"/>
			<element name="FirstFamilyName" type="tns:CVN_string" minOccurs="0"/>
			<element name="SecondFamilyName" type="tns:CVN_string" minOccurs="0"/>
			<element name="Signature" type="tns:CVN_string"/>
			<element name="NormalizedIdentification" type="tns:CVN_string" minOccurs="0"/>
			<element name="LocalPK" type="tns:LocalPKType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="SignatureOrder" type="tns:CVN_string" minOccurs="0"/>
			<element name="CountryCode" type="tns:CVN_ISO_3166" minOccurs="0"/>
			<element name="Roll" type="tns:CVN_Value_Roll" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- 
	***************************************
		Dedication Struct
	***************************************
    -->
	<complexType name="DedicationType">
		<sequence>
			<element name="Item" type="tns:CVN_DedicationType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Roll Struct
	***************************************
    -->
	<complexType name="RollType">
		<sequence>
			<element name="Value" type="tns:RollValueType" minOccurs="0"/>
			<element name="Others" type="tns:CVN_string" minOccurs="0"/>
			<element name="Signature" type="tns:CVN_string" minOccurs="0"/>
			<element name="SignatureOrder" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="RollValueType">
		<sequence>
			<element name="Item" type="tns:CVN_Value_Roll"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Collaborator Struct
	***************************************
    -->
	<complexType name="CollaboratorType">
		<sequence>
			<element name="Type" type="tns:CollaboratorTypeType"/>
			<element name="Value" type="tns:CVN_string" minOccurs="0"/>
			<element name="Category" type="tns:CategoryTypeType"/>
		</sequence>
	</complexType>
	<complexType name="CollaboratorTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_CollaboratorTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="CategoryTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_CategoryTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Place Struct
	*************************************** 	
 	 -->
	<complexType name="PlaceType">
		<sequence>
			<element name="Moment" type="tns:MomentPlaceType"/>
			<element name="City" type="tns:CVN_string" minOccurs="0"/>
			<element name="Region" type="tns:RegionType" minOccurs="0"/>
			<element name="PostalCode" type="tns:CVN_string" minOccurs="0"/>
			<element name="CountryCode" type="tns:CVN_ISO_3166" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="MomentPlaceType">
		<sequence>
			<element name="Item" type="tns:CVN_MomentPlaceType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		EconomicDimension Struct
	***************************************
    -->
	<complexType name="EconomicDimensionType">
		<sequence>
			<element name="Value" type="tns:CVN_string" minOccurs="0"/>
			<element name="CurrencyType" type="tns:CurrencyTypeType"/>
			<element name="Type" type="tns:EconomicDimensionTypeType"/>
		</sequence>
	</complexType>
	<complexType name="EconomicDimensionTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_EconomicDimensionTypeType"/>
			<element name="Others" type="string" minOccurs="0"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="CurrencyTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_Value_ED_CurrencyType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		PhysicalDimension Struct
	***************************************
    -->
	<complexType name="PhysicalDimensionType">
		<sequence>
			<element name="Value" type="tns:CVN_string" minOccurs="0"/>
			<element name="Type" type="tns:PhysicalDimensionalTypeType"/>
		</sequence>
	</complexType>
	<complexType name="PhysicalDimensionalTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_PhysicalDimensionalTypeType"/>
			<element name="Others" type="string" minOccurs="0"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Location Struct
	***************************************
    -->
	<complexType name="LocationType">
		<sequence>
			<element name="Volume" type="tns:CVN_string" minOccurs="0"/>
			<element name="Number" type="tns:CVN_string" minOccurs="0"/>
			<element name="InitialPage" type="tns:CVN_string" minOccurs="0"/>
			<element name="FinalPage" type="tns:CVN_string" minOccurs="0"/>
			<element name="DigitalLocationCode" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- 
	***************************************
		ExternalPK Struct
	***************************************
    -->
	<complexType name="ExternalPKType">
		<sequence>
			<element name="Type" type="tns:ExternalPKTypeType" minOccurs="0"/>
			<element name="Code" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ExternalPKTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_ExternalPKTypeType"/>
			<element name="Others" type="string" minOccurs="0"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		LocalPK Struct
	***************************************
    -->
	<complexType name="LocalPKType">
		<sequence>
			<element name="Code" type="tns:CVN_string" minOccurs="0"/>
			<element name="Agency" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- 
	***************************************
		Scope Struct
	***************************************
    -->
	<complexType name="ScopeType">
		<sequence>
			<element name="Type" type="tns:ScopeTypeType" minOccurs="0"/>
			<element name="Others" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ScopeTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_ScopeTypeType" minOccurs="0"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Diffusion Struct
	***************************************
	-->
	<complexType name="DiffusionType">
		<sequence>
			<element name="Title" type="tns:TitleType"/>
			<element name="Location" type="tns:LocationType" minOccurs="0"/>
			<element name="ExternalPK" type="tns:ExternalPKType" minOccurs="0"/>
			<element name="Date" type="tns:FlexibleDatesType"/>
			<element name="Diffusion" type="tns:CVN_boolean" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- 
	***************************************
		Authorization Struct
	***************************************
    -->
	<complexType name="AuthorizationType">
		<sequence>
			<element name="Value" type="tns:CVN_string" minOccurs="0"/>
			<element name="Type" type="tns:AuthorizationTypeType"/>
		</sequence>
	</complexType>
	<complexType name="AuthorizationTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_AuthorizationTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!--
	***************************************
		quality Struct
	***************************************
    -->
	<complexType name="QualityType">
		<sequence>
			<element name="Measure" type="tns:CVN_string" minOccurs="0"/>
			<element name="Type" type="tns:QualityTypeType"/>
			<element name="MaxValue" type="tns:CVN_string" minOccurs="0"/>
			<element name="Moment" type="tns:QualityMomentType" minOccurs="0"/>
			<element name="Agency" type="tns:QualityAgencyType" minOccurs="0"/>
			<element name="Date" type="tns:FlexibleDatesType" minOccurs="0"/>
			<element name="Others" type="tns:CVN_string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="QualityTypeType">
		<sequence>
			<element name="Item" type="tns:CVN_QualityTypeType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="QualityMomentType">
		<sequence>
			<element name="Item" type="tns:CVN_QualityMomentType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<complexType name="QualityAgencyType">
		<sequence>
			<element name="Item" type="tns:CVN_QualityAgencyType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Url Struct
	***************************************
    -->
	<complexType name="UrlType">
		<sequence>
			<element name="Value" type="tns:CVN_string" minOccurs="0"/>
			<element name="AccessTo" type="tns:AccessToType"/>
		</sequence>
	</complexType>
	<complexType name="AccessToType">
		<sequence>
			<element name="Item" type="tns:CVN_AccessToType"/>
		</sequence>
		<attribute name="code" type="string" use="optional"/>
		<attribute name="obligatory" type="boolean" use="optional"/>
		<attribute name="multiplicity" type="boolean" use="optional"/>
		<attribute name="attribute" type="string" use="optional"/>
	</complexType>
	<!-- 
	***************************************
		Language Struct
	***************************************
    -->
	<complexType name="LanguageType">
		<sequence>
			<element name="LanguageName" type="tns:CVN_string"/>
			<element name="LanguageCode" type="tns:CVN_ISO_639"/>
		</sequence>
	</complexType>
	<!-- 
	***************************************
		Validation Struct
	***************************************
    -->
	<complexType name="ValidationType">
		<sequence>
			<element name="Value" type="tns:CVN_boolean"/>
			<element name="Agency" type="tns:CVN_string" minOccurs="0"/>
			<element name="Source" type="tns:CVN_string" minOccurs="0"/>
			<element name="Date" type="tns:CVN_date" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- 
	***************************************
		Collection Struct
	***************************************
    -->
</schema>
